.Authorization {
  padding: 15px;
  min-height: calc(100vh - 50px - 50px);
  p {
    max-width: 310px;
    padding-left: 5px;
  }

  .loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 150px;
      margin: 0 auto;
      display: inline-block;
    }

    margin-bottom: 15px;
  }
.login-icon {
  width:100px;
  height: 100px;
  background: url(../../assets/svg/login.svg) 50px 50px no-repeat;
}
  .submit-btn {
    background-color: #eca237;
    /*background-color: #ff9100;*/
  }
  &-form {
    min-width: 400px;
  }

  .nav-btn {
    background-color: #02a7a7;
  }

  &-form {
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .form-btns {
    display: flex;
    justify-content: center;

    &__top {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .logIn-btn {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .logIn-btn {
    margin-right: 10px;
    border: 0;
     &__disabled {
       background-color: grey;
       opacity: 0.6;
     }
  }
}
