.settingsIcon {
  background: url("../../../assets/svg/settings-icon.svg");
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-right: 10px;
  &:active {
    transform: scale(1.05);
  }
}
.settingsBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.settingsDropdown {
  margin-left: 10px;
  min-width: 12rem;
  label {
    margin-left: 5px;
  }
}

.dropdownMenu {
  padding:10px;
}