.AudioCallHeadband {
  width: 100%;
  max-width: 800px;
  padding: 50px 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;

  .select {
    display: inline-block;
    width: 150px;
  }
}
