.transcript {
  display: flex;
  align-items: center;
}

.block {
  display: flex;
  align-items: center;
}

.transcription {
  margin-right: 5px;
}

.card {
  display: flex;
  padding: 15px;
  border-radius: 10px;
  background-color: #efebeb;
  margin-bottom: 15px;
  width: 90%;

  .word {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .img {
    width: 200px;
    height: 200px;
    margin-right: 15px;
    border-radius: 15px;
  }

  .spanTitle {
    display: inline-block;
    margin-right: 5px;
  }

  .translatedBlock {
    margin-top: 10px;
  }
}

.cardIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-bottom: 15px;
  &:active {
    transform: scale(1.05);
  };
}

.playWordIcon {
  background: url("../../../assets/svg/headphones-icon.svg") 0 0/cover no-repeat; ;
}

.learnedWordIcon {
  background: url("../../../assets/svg/learned-word-icon.svg") 0 0/cover no-repeat;;
}

.complicatedWordIcon {
  background: url("../../../assets/svg/learnedWord-icon.svg") 0 0/cover no-repeat;;
}

.cardIcons {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 30px 0 auto;
}